.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 70px;
    color: #FF5733;
}

#error-message {
    font-size: 24px;
    margin-bottom: 20px;
    font-style: italic;
}