/* Styles specific to the main app page */

.halloween-bg {
  background:
    linear-gradient(rgba(220,220,220,0), rgba(180,180,180,0.5)),
    url('../images/background_4.jpg') center center / cover no-repeat fixed;
  background-blend-mode: overlay;
}

