.cat-profile{
    border: 1px solid #ff7518; 
    margin: 5px; 
    padding: 5px;
}
.cat-profile-group{
    display: block; 
    background: rgba(255,255,255,0.1); 
    padding: 10px; 
    margin: 10px;
}

img.cat-profile-image,
.cat-profile img.cat-profile-image{
    display: block;
    width: auto;
    height: auto;
    max-width: 280px; 
    max-height: 360px; 
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; 
    border-radius: 8px;
}


@media (min-width: 900px) {
    img.cat-profile-image,
    .cat-profile img.cat-profile-image{
        max-width: 380px;
        max-height: 520px;
    }
}


@media (max-width: 420px) {
    img.cat-profile-image,
    .cat-profile img.cat-profile-image{
        max-width: 220px;
        max-height: 300px;
    }
}