/* Anything that goes across all pages like background etc. */


/* Navbar styles below */


/* Footer styles below */
footer {
    background-color: red;
    color: #fff1ea;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}