{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/500.css' %}">

<div class="container">
    <div class="row my-5 py-md-5">
        <div class="text-center">
            <h1>500: Page not found!</h1>
            <br>
            <p class="text-center" id="error-message">
                Something startled our server cat under the full moon.
It hissed, knocked over a few potions, and vanished into the shadows.
We’re lighting a candle and waiting for it to return.
            </p>
            <p>
                <a href="{% url 'index' %}" class="btn btn-lg btn-light m-1">Go back to home page!</a>
            </p>
        </div>

    </div>
</div>
{% endblock %}