{% load static %}
<footer>
    <div class="footer-container">
        <p>&copy; 2025 Purranormal | Made during the October 2025 Code Institute Hackathon</p>
        <div class="footer-links">
            <p>
                <a href="{% url 'index' %}">Home Page</a> | 
                <a href="{% url 'about' %}">About Us</a> | 
                <a href="{% url 'cat-adoption' %}">Adopt a Cat</a> | 
                <a href="{% url 'contact' %}">Contact Us</a> | 
                <a href="{% url 'account_login' %}">Login</a>/
                <a href="{% url 'account_signup' %}">Signup</a>
            </p>
        </div>
    </div>
</footer>