{% load static %}
<footer>
    <div class="footer-container">
        <p>
            <a href="https://github.com/hannahro15/CI-Halloween-Hackathon-25", 
            target="_blank"
            class = "btn-github">
            <img src="{% static 'images/github-mark.png' %}" alt="GitHub Icon" class="github-icon"> 
                View Project on GitHub
            </a>
        </p>
        <p>&copy; 2025 Purranormal | Made during the October 2025 Code Institute Hackathon</p>
    </div>
</footer>