{% extends 'base.html' %}
{% load static %}

{% block title %}Purranormal{% endblock %}

{% block extra_head %}<link rel="stylesheet" href='{% static "css/cardstyle.css" %}' />{% endblock %}

{% block content %}
  <!-- <div class="d-flex justify-content-center align-items-center vh-100"> -->
    <div class="mt-4">
      <div class="card-container py-auto my-auto align-middle" id="cardContainer"></div>
    </div>
        
  <!-- </div> -->
{% endblock %}

{% block extra_scripts %}
  <script src='{% static "js/cardutils.js" %}'></script>
  <script src='{% static "js/cardscript.js" %}'></script>
{% endblock %}