{% extends 'base.html' %}
{% load static %}

{% block title %}Purranormal{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href='{% static "css/cardstyle.css" %}' />
  <link rel="stylesheet" href='{% static "css/main.app.css" %}' />

{% endblock %}

{% block content %}
  <!-- <div class="d-flex justify-content-center align-items-center vh-100"> -->
    <div class="mt-4">
      <header class="main-app-header text-center mb-3">
        <h1 class="spooky-text">Welcome to Purranormal 👻</h1>
        <p class="lead">Swipe. Match. Meow.</p>
        <p>Swipe right to add a cat to your profile, or swipe left if it’s not the right match. Want to learn more about a cat? Just scroll down to uncover their secrets...</p>
      </header>
      <div class="card-container py-auto my-auto align-middle" id="cardContainer"></div>
    </div>
        
  <!-- </div> -->
{% endblock %}

{% block extra_scripts %}
  <script>
    // Make CSRF token available to cardscript.js
    window.csrfToken = '{{ csrf_token }}';
  </script>
  <script src='{% static "js/cardscript.js" %}'></script>
{% endblock %}